<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Shoppy <span class="badge badge-pill badge-primary">Your favorite shopping list app</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="card">
  <h5 class="card-header">Hemalatha Rao</h5>
  <div class="card-body">
    <h5 class="card-title">Hemi</h5>
    <p class="card-text">Hi My name is Hemalatha Rao</p>
    <a href="#" class="btn btn-primary">Go to Hemi's shopping lists</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Aditya Rao</h5>
  <div class="card-body">
    <h5 class="card-title">Adi</h5>
    <p class="card-text">Hi My name is Aditya Rao</p>
    <a href="#" class="btn btn-primary">Go to Adi's shopping lists</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Isha Rao</h5>
  <div class="card-body">
    <h5 class="card-title">Ishamma</h5>
    <p class="card-text">Hi My name is Isha Rao</p>
    <a href="#" class="btn btn-primary">Go to Ishamma's shopping lists</a>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Satish Rao</h5>
  <div class="card-body">
    <h5 class="card-title">Satish</h5>
    <p class="card-text">Hi My name is Satish Rao</p>
    <a href="#" class="btn btn-primary">Go to Satish's shopping lists</a>
  </div>
</div>
<router-outlet></router-outlet>
